# ---- macOS System Files ----
.DS_Store
.AppleDouble
.LSOverride

# ---- JetBrains / PyCharm ----
.idea/
*.iml
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.vscode/

# ---- VS Code ----
.vscode/
*.code-workspace

# ---- Python ----
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# ---- Poetry ----
/.venv/

# ---- Logs & Debugging ----
*.log
debug.log
tmp/

# ---- Input and output ----
data/
# ---- Build & Distribution ----
dist/
build/
*.egg-info/
pip-wheel-metadata/

# ---- Script Output ----
artifacts/!.gitignore
artifacts/*
scripts/artifacts/*
# ---- Environment ----
.env
.envrc
